{% extends './layout/layout.html.twig' %}

{% block content %}

	{# Hero / Banner similar to home but minimal: keeps header/navigation visual context #}
	{# Use cat_image (FileMaker) stored under menu_images_path as primary banner image, fall back to cat_banner #}
	{% set fm_cat_image = (cat_image is defined and cat_image) ? cat_image : (nav_fields.cat_image is defined and nav_fields.cat_image ? nav_fields.cat_image : null) %}
		{% if fm_cat_image %}
		{% set banner_url = asset(menu_images_path ~ '/' ~ fm_cat_image) %}
	{% else %}
		{% set banner_url = cat_banner is defined and cat_banner ? asset(cat_banner) : null %}
	{% endif %}
	{% set banner_headline = cat_descr_h1 is defined and cat_descr_h1 ? cat_descr_h1 : (title ?: 'Menu') %}
	{# Banner target: if nav_fields.cat01 is set -> category page, otherwise menu page #}
	{% set banner_target = (nav_fields.cat01 is defined and nav_fields.cat01) ? ('/kategorie/' ~ (alias ?: slug ?: '')) : ('/menu/' ~ (alias ?: slug ?: '')) %}
	







	<main class="menu-main container my-5">
			<div class="container">
				<div class="banner bg-image container category-banner" {% if banner_url %} style="background-image:url('{{ banner_url }}');" {% endif %}>

				</div>

				<h1>{{ nav_fields.cat_descr_h1 is defined and nav_fields.cat_descr_h1 ? nav_fields.cat_descr_h1 : (nav_fields.cat_descr_h1 is defined and nav_fields.cat_descr_h1 ? nav_fields.cat_descr_h1 : '') }}</h1>
				<div class="cat-text-top">
					{{ nav_fields.cat_content is defined and nav_fields.cat_content ? nav_fields.cat_content|raw : (nav_fields.cat_content is defined and nav_fields.cat_content ? nav_fields.cat_content|raw : '') }}
				</div>

				{# Render children_records as tiles with images #}
				{% if children_records is defined and children_records|length > 0 %}
					<div class="rts-featured-product-section-inner">
						<div class="row">
							{% for c in children_records %}
								{% set ctitle = c.cat_title is defined and c.cat_title ? c.cat_title : (c.title is defined and c.title ? c.title : '(no title)') %}
								{% set calias = c.alias is defined and c.alias ? c.alias : (c.Alias is defined and c.Alias ? c.Alias : null) %}
								<div class="col-xl-3 col-md-4 col-sm-6 col-12">
									<div class="product-item element-item1 cildren-cat">
										{% set ctarget = (c.cat01 is defined and c.cat01) ? ('/kategorie/' ~ (calias ?: '')) : ('/menu/' ~ (calias ?: '')) %}
										<a href="{{ ctarget }}" class="product-images">
											<div class="image-vari1 image-vari">
												{% set cimg = c.cat_image is defined and c.cat_image ? c.cat_image : (c.cat_images is defined and c.cat_images ? c.cat_images : null) %}
												{% if cimg %}
													<img src="{{ asset(menu_images_path ~ '/' ~ cimg) }}" alt="{{ ctitle|e }}" loading="lazy">
												{% else %}
													<img src="{{ asset('/assets/images/products/home9/product1.png') }}" alt="{{ ctitle|e }}" loading="lazy">
												{% endif %}
											</div>
										</a>
										<div class="bottom-content">
											<a href="{{ ctarget }}" class="product-name">{{ ctitle }}</a>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %}

				<div class="cat-text-bottom">
					{{ nav_fields.cat_descr is defined and nav_fields.cat_descr ? nav_fields.cat_descr|raw : (nav_fields.cat_descr is defined and nav_fields.cat_descr ? nav_fields.cat_descr|raw : '') }}
				</div>

			</div>
		</div>

</main>


<!--thanks-area start--><!--thanks-area end-->


{# Debug: show the raw nav_fields JSON returned from FileMaker for this menu entry #}{% endblock %}
